*{
padding: 0px; /* margem interna */
margin: 0px;/* margem externa*/
box-sizing: border-box; /* muda estrutura de espaçamento*/
font-family:"Inter";
 }
.cabeça{

background-color: blueviolet;
width: 1,920px ;
height: 71px;
display: flex;
align-items: center;
justify-content: space-between; 
flex-direction: row;

}

.logo{

border-radius: 60px;
height: 60px;
width: 60px;
padding: 5px;
margin: 40px;
display: flex;


}

.trabalho{

    color: aliceblue;
    display: flex;
    margin: 35px;

}

.pagina{

margin: 20px;

}

.main{

display: flex;
justify-content: center;
margin-top: 50px;

}

.img1{

background-image: url(../Lyouts/assets/fundo\ samurai.jpg);
height:70vh;
width: 45vw;
margin-right: 60px;
}

.img2{

background-image: url(../Lyouts/assets/samurai-1.avif    );
height:70vh;
width: 45vw;

}